<header class="main" style="background: url(&quot;@img/bg.jpg&quot;) 0 0 / cover no-repeat">
  <div class="container main__container">
    <a href="/" class="main__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="main__body">
      <p class="main__content">Оставить жалобу</p>
      <form action="#" class="form">
        <div class="form__item">
          <input type="text" placeholder="Ваше имя" class="input form__input" />
        </div>
        <div class="form__item">
          <input type="tel" placeholder="Ваш номер телефона" class="input form__input" />
        </div>
        <div class="form__item">
          <input type="date" class="input form__date" id="input-date" />
          <label for="input-date" class="input form__label-date" id="label-date">Дата посещения</label>
        </div>
        <div class="form__item">
          <textarea
            name="descr"
            placeholder="Чем вы были недовольны"
            class="input form__input form__input--textarea"
          ></textarea>
        </div>
        <button class="btn btn-primary form__btn">Чем вы были недовольны?</button>
        <input type="checkbox" id="politic" class="form__checked" />
        <label for="politic" class="form__politic">
          Согласен на обработку <a href="politic.html">персональных данных</a>
        </label>
      </form>
    </div>
  </div>
</header>
