<header class="main" style="background: url(&quot;@img/bg.jpg&quot;) 0 0 / cover no-repeat">
  <div class="container main__container">
    <a href="/" class="main__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="main__body">
      <p class="main__content">
        Мы будем благодарны за ваш отзыв о посещении нашего заведения на любом из ресурсов - для нас
        это хорошая возможность улучшить качество работы!
      </p>
      <ul class="list main__review-list">
        <li class="main__review-item">
          <img src="@img/yandex.svg" alt="yandex" class="main__review-logo">
          <a href="#" target="_blank" class="btn-primary main__review-btn">Перейти</a>
        </li>
        <li class="main__review-item">
          <img src="@img/google.svg" alt="google" class="main__review-logo">
          <a href="#" target="_blank" class="btn-primary main__review-btn">Перейти</a>
        </li>
        <li class="main__review-item">
          <img src="@img/gis.svg" alt="gis" class="main__review-logo">
          <a href="#" target="_blank" class="btn-primary main__review-btn">Перейти</a>
        </li>
      </ul>
    </div>
  </div>
</header>